* {
    margin: 0;
   
 }
 body {
     display: flex;
 }
 .blockNeutral {
     position: fixed;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 4%;
     height: 6%;
     background-color: rgba(255, 255, 255, 0);
     margin: 0.4em;
     border-radius: 0.4em;
     border: 0;
     z-index: 99;
 }
 
 .panel {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 100%;
 }
 .blockNeutralPanel {
     display: flex;
     flex-direction: column;
     width: 80%;
     height: 7%;
     border-radius: 0.2em;
     background-color: black;
     margin: 0.18em;
 }
 .mainPanel {
     display: flex;
     position: absolute;
     z-index: 1;
 }
 .mainPanelBlock {
     opacity: 1;
     display: flex;
     position: relative;
     width: auto;
     height: auto;
     z-index: 2;
     box-sizing: border-box;
 
 }
 #mainPanelBlock {
     display: flex;
 }
 
 .blockRegistr {
     background-color: rgb(255, 247, 255);
     display: flex;
     position: fixed;
     width: 40%;
     height: 100vh;
     z-index: 3;
     border-radius: 1em;
     
     flex-direction: column;
     opacity: 0;
     transform: translateX(-100%);
     
 }
 .blockRegistr.open {
    animation: slideIn 0.2s forwards;
 }
 .blockRegistrPanel {
     display: flex;
     width: 80%;
     height: 100%;
     
     flex-direction: column;
     margin: 7%;
     margin-bottom: 1%;
     
 
 }
 .registr {
     display: flex;
     background-color: rgb(251, 239, 252);
     /*border: 0.06em  solid gray;*/
     width: 50%;
     height: 100%;
     margin-top:5%;
     font-size: 20px;
     border-radius: 0.3em;
    
 }
 .registrBlock {
     display: flex;
     width: 100%;
     height: 5%;
     margin: 3%;
 
 }
 .registrButton {
     border: 0;
     background-color: rgba(251, 239, 252, 0);
 }
 .meinBlock {
     
     width: 100%;
     height: 300em;
     display: flex;
     flex-direction: column;
     align-items: center;
     
 }
 
 main {
     background-color: rgba(161, 78, 233, 0.171);
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 93%;
     height: 100%;
     margin-top: 4em;
     border-radius: 1em;
 }
 
 .img {
 
     display: flex;
     justify-content: center;
     align-items:center ;
     width: 100%;
     height: 95h;
     box-sizing: border-box;
     overflow: hidden;
     
   
 }
 .img-block {
     width: 100%;
     height: 100%;
     background-image: url();
     display: flex;
     justify-content: center;
     align-items:center ;
     width: 100%;
     height: 100%;
     background-repeat: no-repeat;
     background-size: 100%;
     background-position: center;
     box-sizing: border-box;
     overflow: hidden;
     z-index: -1;
   
 }
 
 .image {
     background-image: url(https://i.pinimg.com/736x/8f/af/0e/8faf0ee7ac2252c9f2e4df1155e54f34.jpg);
     opacity: 0.4;
     background-repeat: no-repeat;
     background-size:cover;
     width: 34%;
     height: auto;
     border-radius: 2%;
     border: 0.18em solid rgb(76, 48, 104);
     margin: 0.3em;
     z-index: 5;
     opacity: 1;
 
 
 }
 .name {
 
     display: flex;
     justify-content: center;
     align-items: center;
     width: 100%;
     height: 3%;
   
 
 }
 .name-name {
     display: flex;
     justify-content: center;
     align-items: center;
     width: 45%;
     height: 30%;
     background-color:rgba(155, 65, 182, 0.76);
     color: rgb(0, 0, 0);
     font-family: monospace;
     font-size: 30px;
     border-radius: 0.4em;
     box-shadow: 10% color(srgb rgb(192, 68, 68) green blue);
 }
 .description {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 80%;
     height: auto;
     display: flex;
     color: rgb(0, 0, 0);
     font-family: monospace;
     font-size: 16px;
     background-color: rgb(255, 255, 255);
     border: 0.15em solid rgba(143, 79, 204, 0.233);
     border-radius: 0.8em;
    
 }
 .block-janr {
     width: 100%;
     height: 10%;
     display: flex;
     
     justify-content: center;
 }
 .janr {
     display: flex;
     flex-direction: column;
     align-items: center;
     width:auto;
     height: 80%;
     margin: 2em;
 }
 .nuber-of-episodes {
     display: flex;
     
     flex-direction: column;
     width: auto;
     height: 80%;
     color: rgb(0, 0, 0);
     font-size: 16px;
     margin: 2em;
     
 }
 .number-of-episodes-h2 {
     display: flex;
     flex-direction: column;
     font-size: 24px;
 }
 .number-of-episodes-text {
     display: flex;
     align-items: center;
 }
 .contry-block {
     display: flex;
     
     flex-direction: column;
     width: auto;
     height: 80%;
     margin: 2em;
 }
 .contry-block-block {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
 #contry-name {
     font-size: 20px;
   
     margin: 0.6em;
     
 }
 #position-center {
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }
 .language-block {
     width: auto;
     height: auto;
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 .language-block1 {
     width: 100%;
     height: 205;
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 .language {
     display: flex;
     align-items: center;
     flex-direction: column;
     width: 60%;
 }
 .subtitels-block {
     width: 98%;
     display: flex; 
     align-items: center;
     flex-direction: column;
 }
 .subtitels-name {
    margin: 0.2em;
 }
 .subtitels-block-name {
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 
 .description-block-2{
     width: 98%;
     height: auto;
     margin: 0.6em;
     display: flex;
     align-items: center;
     flex-direction: column;
 }
 .description-block-text {
    height: auto;
 }
 .stars-text {
     margin: 0.2em;
 }
 .stars-name {
     width: 100%;
     height: 40%;
     margin: 0.2em;
 }
 .stars {
     display: flex;
     flex-direction: row;
     width: 100%;
     height: 85%;
     font-size: 13px;
     margin: 0.2em;
 }
 .stars-block-left {
     display: flex;
     flex-direction: column;
     width: 48%;
     height: 100%;
     margin: 1%;
 }
 
 .stars-block-rechts {
     display: flex;
     flex-direction: column;
     width: 48%;
     height: 100%;
     margin: 1%;
 }
 .stars-block-left-block {
     height: 100%;
 }
 .stars-block-rechts-block {
     height: 100%;
 }
 .stars-list {
     width: 80%;
 }
 .stars-img {
     margin: 1em;
     width: 70%;
     height: 60%;
     border-radius: 0.6em;
 }
 .stars-img-1 {
     width: 100%;
     height: 100%;
     object-fit: cover;
     border-radius: 0.5em;
    
     
     
 
     
 }
 .stars-img-1-1 {
     display: flex;
     
 
     justify-content: center;
     align-content: center;
     overflow: hidden;
     
 }
 
 
 #stars-list {
     display: flex;
     justify-content: center;
     align-items: center;
    
     font-size: 16px;
     font-weight: 549;
     
 }
 #stars-img {
     width: 240px;;
     height: 360px;
     overflow: hidden;
     
 }
 #stars {
    width: 100%;
    height: 19.5%;
    overflow: hidden;
    border: 1.5px solid rgba(0, 0, 0, 0.103);
    border-radius: 0.2em;
    margin: 0.1em;
 
 
 
 }
 
 .block-scroll-main {
     display: flex;
     
     width: 100%;
     height: 5%;
     overflow-x: auto;
     overflow-y: hidden;
     white-space: nowrap;
     scrollbar-width: none;
     -ms-overflow-style: none;
 
     
 
 }
 .block-scroll {
     display: flex;
     
     width: max-content;
     height: 100%;
     border-radius: 0.4em;
    
     animation: scroll 80s linear infinite;
     animation-play-state: running;
     
     
     
 
     
 }
 .scroll {
     flex: 0 0 auto;
 
 
     
 }
 .item{
    display: flex;
     width: auto;
     height: 95%;
     margin: 0.3em;
     border-radius: 0.4em;
 }
 .scroll:active {
     cursor: grabbing;
 }
 
 #commentForm {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     height: 20%;
 }
 #userName {
     width: 50%;
     height: 3%;
     margin: 1em;
     border-radius: 0.3em;
 
 }
 #commentText {
     width: 50%;
     height: 40%;
     margin: 1em;
     border-radius: 0.3em;
 }
 #sumit {
     width: 30%;
     height: 50%;
     margin: 1em;
     border-radius: 0.2em;
 }
 #comments-block {
     width: 100%;
     height: 50%;
 }
 #comments {
    height: 100%;
 }
 
 @keyframes scroll {
     0% {
         transform: translateX(0);
     }
     100% {
         transform: translateX(-100%);
     }
 }
 @keyframes slideIn {
     from {
         transform: translateX(-100%);
     }
     to {
         transform: translateX(0);
     }
 }
 
 
 @media only screen and (max-width:415px) {
     .blockNeutral {
        width: 10vw; 
     }
     .mainPanelBlock {
         width: 97vw;
     }
     .blockRegistr {
         width: 60vw;
         height: 100vh;
 
     }
     .registrBlock {
         margin-top: 1.2em;
     }
     .registr {
         margin-top: 1.5em;
         width: auto;
     }
     main {
         width: 95%;
     }
     .name {
         width: 100%;
         height: 1.2%;
     }
     .name-name {
         font-size: 13px;
     }
     .description {
         width: 94%;
         height: auto;
         
     }
     
     .lock-scroll-main {
         height: 3.5%;
     }
     .janr {
         height: 80%;
         
         margin: 0.6em;
     }
     .janrrr {
         font-size: 12px;
     }
     .block-janr {
         display: flex;
         align-items: center;
         flex-direction: row;
         height: 8%;
         font-size: 8px;
     }
     .number-of-episodes-h2 {
         font-size: 13px;
     }
     .nuber-of-episodes-block {
         font-size: 8px;
     }
     .number-of-episodes-a, 
     .number-of-episodes-div-2, 
     .nuber-of-episodes-div-3 {
         font-size: 12px;
     }
     .contry-block-name {
         font-size: 12px;
     }
     #contry-name {
         font-size: 12px;
     }
     .description-block-2 {
        font-size: 10px;
     }
     
     .language-block1 {
         font-size: 10px;
     }
     .subtitels-block {
         font-size: 10px;
     }
     .stars {
         font-size: 10px;
     }
     .stars-block-left {
         overflow: hidden;
     }
     .stars-img-1-1 {
         display: flex;
         align-items: center;
         width: 170px;;
         height: 300px;
         object-fit: cover;
 
     }
     #stars {
       width: 170px;
       height: 300px;
       overflow: hidden;
     }
     #stars-list {
         height: 20%;
         font-size: 8px;
         font-weight: 550;
     }
     #stars-img {
         height: 80%;
         border-radius: 0.6em;
     }
 } 